<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quo - Academy Cripto</title>
    <!-- Favicon -->
    <link rel="icon" href="../img/isotipo.svg" sizes="16x16"/>
    <link rel="icon" href="../img/isotipo.svg" sizes="32x32"/>
    <link rel="icon" href="../img/isotipo.svg" sizes="64x64"/>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wdth,wght@0,75..100,100..700;1,75..100,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../src/application.css">
</head>
<body class="bodyProfile">

    <!-- Header -->

    <header class="headerProfile">
        <input type="checkbox" id="menu">
        <div class="headerCenter">
            <div class="leftSide">
                <label for="menu" class="activeMenu">
                    <img src="../img/iconoMenu.svg" alt="Icon Menu" class="menuIcon">
                </label>
                <img src="../img/isotipo.svg" alt="Isotipo" class="isotipo">
            </div>
            <div class="rightSide">
                <p class="userName">Carolina Mendez</p>
                <img src="../img/avatarAcademia06.svg" alt="Avatar" class="avatar">
            </div>
        </div>

        <!-- Dark Screen -->

        <div class="darkScreen">
            <label for="menu" class="activeMenu">

            </label>

            <!-- Codigo en archivo commons -->

        </div>

        <!-- Menuside -->

        <div class="menuSide">
            <label for="menu" class="activeMenu">
                <img src="../img/iconoCerrar.svg" alt="Icon Menu" class="closeIcon">
            </label>
            <nav class="navbar">
                <ul>
                    <li>
                        <a href="dashboard.html" class="item">
                            <img src="../img/iconoDashboard.svg" alt="Icon" class="img">
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="portfolio.html" class="item">
                            <img src="../img/iconoPortfolio.svg" alt="Icon" class="img">
                            Portfolio
                        </a>
                    </li>
                    <li>
                        <a href="academy.html" class="item">
                            <img src="../img/iconoAcademia.svg" alt="Icon" class="img">
                            Academia Cripto
                        </a>
                    </li>
                    <li>
                        <a href="membership.html" class="item">
                            <img src="../img/iconoMembresia.svg" alt="Icon" class="img">
                            Membresía <span>Plan Free</span>
                        </a>
                    </li>
                    <li>
                        <a href="user.html" class="item">
                            <img src="../img/iconoUsuario.svg" alt="Icon" class="img">
                            Usuario
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="setting.html" class="item">
                            <img src="../img/iconoConfiguracion.svg" alt="Icon" class="img">
                            Configuración
                        </a>
                    </li>
                    <li>
                        <a href="signOut.html" class="item">
                            <img src="../img/iconoSalir.svg" alt="Icon" class="img">
                            Salir
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main Container - Profile Welcome -->

    <main class="containerAcademyCripto">

        <!-- Welcome Section -->

        <section class="academyCriptoSection">

            <!-- Heading -->

            <section class="heading">
                <h2 class="titleSection">Bienvenido a Academia Cripto</h2>
                <p class="sentence">Aprende, mejora y crece con nuestra academia</p>
                <div class="hightlightMessage">
                    <p class="advertising">¡Comienza ahora!</p>
                    <div class="greenLight"></div>
                </div>
            </section>

            <!-- AcademyBlock -->

            <section class="academySlider">
                <section class="card">
                    <div class="headingCard">
                        <img class="imageCard" src="../img/ilustracionAcademia06.webp" alt="Ilustración" loading="lazy">
                    </div>
                    <div class="bodyCard">
                        <h3 class="titleCard">Introducción a las Criptos</h3>
                    </div>
                    <div class="footerCard">
                        <img src="../img/avatarAcademia06.svg" alt="" class="avatar">
                        <p class="content">Entiende los fundamentos
                        </p>
                        <img src="../img/flechaIconos02.svg" alt="Arrow right" class="arrowRight">
                    </div>
                </section>
                <section class="card">
                    <div class="headingCard">
                        <img class="imageCard" src="../img/ilustracionAcademia05.webp" alt="Ilustración" loading="lazy">
                    </div>
                    <div class="bodyCard">
                        <h3 class="titleCard">Blockchain y Seguridad</h3>
                    </div>
                    <div class="footerCard">
                        <img src="../img/avatarAcademia05.svg" alt="" class="avatar">
                        <p class="content">La tecnología en las criptos
                        </p>
                        <img src="../img/flechaIconos02.svg" alt="Arrow right" class="arrowRight">
                    </div>
                </section>
                <section class="card">
                    <div class="headingCard">
                        <img class="imageCard" src="../img/ilustracionAcademia04.webp" alt="Ilustración" loading="lazy">
                    </div>
                    <div class="bodyCard">
                        <h3 class="titleCard">Análisis de Mercado</h3>
                    </div>
                    <div class="footerCard">
                        <img src="../img/avatarAcademia04.svg" alt="" class="avatar">
                        <p class="content">Interpreta tendencias y datos
                        </p>
                        <img src="../img/flechaIconos02.svg" alt="Arrow right" class="arrowRight">
                    </div>
                </section>
                <section class="card">
                    <div class="headingCard">
                        <img class="imageCard" src="../img/ilustracionAcademia03.webp" alt="Ilustración" loading="lazy">
                    </div>
                    <div class="bodyCard">
                        <h3 class="titleCard">Técnicas de Trading</h3>
                    </div>
                    <div class="footerCard">
                        <img src="../img/avatarAcademia03.svg" alt="" class="avatar">
                        <p class="content">Compra, vende y optimiza
                        </p>
                        <img src="../img/flechaIconos02.svg" alt="Arrow right" class="arrowRight">
                    </div>
                </section>
                <section class="card">
                    <div class="headingCard">
                        <img class="imageCard" src="../img/ilustracionAcademia02.webp" alt="Ilustración" loading="lazy">
                    </div>
                    <div class="bodyCard">
                        <h3 class="titleCard">Finanzas Descentralizadas</h3>
                    </div>
                    <div class="footerCard">
                        <img src="../img/avatarAcademia02.svg" alt="" class="avatar">
                        <p class="content">Más allá de las inversiones
                        </p>
                        <img src="../img/flechaIconos02.svg" alt="Arrow right" class="arrowRight">
                    </div>
                </section>
                <section class="card">
                    <div class="headingCard">
                        <img class="imageCard" src="../img/ilustracionAcademia01.webp" alt="Ilustración" loading="lazy">
                    </div>
                    <div class="bodyCard">
                        <h3 class="titleCard">Simulación y Práctica</h3>
                    </div>
                    <div class="footerCard">
                        <img src="../img/avatarAcademia01.svg" alt="" class="avatar">
                        <p class="content">Invierte sin riesgos
                        </p>
                        <img src="../img/flechaIconos02.svg" alt="Arrow right" class="arrowRight">
                    </div>
                </section>
            </section>
        </section>

    </main>

    <!-- Footer Container -->

    <footer class="containerFooter">
        <section class="socialNetworkIcons">
            <a href="https://web.telegram.org/k/" target="_blank" class="item">
                <img src="../img/iconosRedesSociales01.svg" alt="Icon Social" class="iconSocial">
            </a>
            <a href="https://redditinc.com/" target="_blank" class="item">
                <img src="../img/iconosRedesSociales02.svg" alt="Icon Social" class="iconSocial">
            </a>
            <a href="https://www.youtube.com/" target="_blank" class="item">
                <img src="../img/iconosRedesSociales04.svg" alt="Icon Social" class="iconSocial">
            </a>
            <a href="https://discord.com/" target="_blank" class="item">
                <img src="../img/iconosRedesSociales03.svg" alt="Icon Social" class="iconSocial">
            </a>
            <a href="https://www.instagram.com/" target="_blank" class="item">
                <img src="../img/iconosRedesSociales05.svg" alt="Icon Social" class="iconSocial">
            </a>
            <a href="https://x.com/"target="_blank" class="item">
                <img src="../img/iconosRedesSociales06.svg" alt="Icon Social" class="iconSocial">
            </a>
            <a href="https://www.linkedin.com/"target="_blank"  class="item">
                <img src="../img/iconosRedesSociales07.svg" alt="Icon Social" class="iconSocial">
            </a>
            <a href="https://www.facebook.com/" target="_blank" class="item">
                <img src="../img/iconosRedesSociales08.svg" alt="Icon Social" class="iconSocial">
            </a>
        </section>

    </footer>

    <!-- Javascript -->

    <script src="../javascript/academy.js"></script>
    <script src="../javascript/blog.js"></script>
    <script src="../javascript/loader.js"></script>

</body>
</html>


