<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quo - Membership</title>
    <!-- Favicon -->
    <link rel="icon" href="../img/isotipo.svg" sizes="16x16"/>
    <link rel="icon" href="../img/isotipo.svg" sizes="32x32"/>
    <link rel="icon" href="../img/isotipo.svg" sizes="64x64"/>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wdth,wght@0,75..100,100..700;1,75..100,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../src/application.css">
</head>
<body class="bodyProfile">

    <!-- Header -->

    <header class="headerProfile">
        <input type="checkbox" id="menu">
        <div class="headerCenter">
            <div class="leftSide">
                <label for="menu" class="activeMenu">
                    <img src="../img/iconoMenu.svg" alt="Icon Menu" class="menuIcon">
                </label>

                <img src="../img/isotipo.svg" alt="Isotipo" class="isotipo">
            </div>
            <div class="rightSide">
                <p class="userName">Carolina Mendez</p>
                <img src="../img/avatarAcademia06.svg" alt="Avatar" class="avatar">
            </div>
        </div>

        <!-- DarkScreen -->

        <div class="darkScreen">
            <label for="menu" class="activeMenu">

            </label>

            <!-- Codigo en archivo commons -->

        </div>

        <div class="menuSide">
            <label for="menu" class="activeMenu">
                <img src="../img/iconoCerrar.svg" alt="Icon Menu" class="closeIcon">
            </label>
            <nav class="navbar">
                <ul>
                    <li>
                        <a href="dashboard.html" class="item">
                            <img src="../img/iconoDashboard.svg" alt="Icon" class="img">
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="portfolio.html" class="item">
                            <img src="../img/iconoPortfolio.svg" alt="Icon" class="img">
                            Portfolio
                        </a>
                    </li>
                    <li>
                        <a href="academy.html" class="item">
                            <img src="../img/iconoAcademia.svg" alt="Icon" class="img">
                            Academia Cripto
                        </a>
                    </li>
                    <li>
                        <a href="membership.html" class="item">
                            <img src="../img/iconoMembresia.svg" alt="Icon" class="img">
                            Membresía <span>Plan Free</span>
                        </a>
                    </li>
                    <li>
                        <a href="user.html" class="item">
                            <img src="../img/iconoUsuario.svg" alt="Icon" class="img">
                            Usuario
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="setting.html" class="item">
                            <img src="../img/iconoConfiguracion.svg" alt="Icon" class="img">
                            Configuración
                        </a>
                    </li>
                    <li>
                        <a href="signout.html" class="item">
                            <img src="../img/iconoSalir.svg" alt="Icon" class="img">
                            Salir
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main Container - Profile Welcome -->

    <main class="containerMembership">

        <!-- Membership Section -->

        <section class="tarifasSection">
            <div class="tarifasCenter">

                <!-- Heading -->

                <div class="heading">
                    <h2 class="titleMembership">Tarifas y Planes</h2>
                    <p class="content">Preparado para el siguiente nivel
                    </p>
                </div>

                <!-- Tarifas Set -->

                <div class="tarifasSet">

                    <!-- Free Plan -->

                    <article class="tarifaCard">
                        <section class="headingCard">
                            <div class="plan">
                                <p class="textPlan">Plan Free</p>
                                <p class="text">Mensual</p>
                            </div>
                            <div class="numbers">
                                <p class="price">$0</p>
                                <div class="bunchDolar">
                                    <img class="flag" alt="USA Flag" src="../img/usaBandera.svg">
                                    <p class="dolar">USD/mes</p>
                                </div>
                            </div>
                            <div class="motivationText">
                                <p class="text">Aprende sin riesgos</p>
                            </div>
                        </section>

                        <input type="checkbox" id="openContextFree">
                        <label for="openContextFree" class="open">
                            <img src="../img/iconoFlechaPlan.svg" alt="Icon arrow" class="arrow">
                        </label>

                        <div class="wrapped">
                            <label for="openContextFree"></label>

                            <!-- BodyCard -->

                            <section class="bodyCard">
                                <div class="features">
                                    <img src="../img/iconocheckVerde.svg" alt="Check" class="check">
                                    <p class="option">$1,000 USD en fondos virtuales para practicar trading</p>
                                </div>
                                <div class="features">
                                    <img src="../img/iconocheckVerde.svg" alt="Check" class="check">
                                    <p class="option">Acceso a la simulación de trading con criptomonedas</p>
                                </div>
                                <div class="features">
                                    <img src="../img/iconocheckVerde.svg" alt="Check" class="check">
                                    <p class="option">Datos de mercado en tiempo real</p>
                                </div>
                                <div class="features">
                                    <img src="../img/iconocheckVerde.svg" alt="Check" class="check">
                                    <p class="option">Análisis de tendencias y gráficos básicos</p>
                                </div>
                                <div class="features">
                                    <img src="../img/iconocheckVerde.svg" alt="Check" class="check">
                                    <p class="option">Acceso a la Academia QUO con contenido educativo esencial</p>
                                </div>
                                <div class="features">
                                    <img src="../img/iconocheckVerde.svg" alt="Check" class="check">
                                    <p class="option">Sincronización con mercados reales</p>
                                </div>
                                <div class="features">
                                    <img src="../img/iconocheckVerde.svg" alt="Check" class="check">
                                    <p class="option">Ideal para quienes quieren conocer el mundo cripto sin invertir dinero real.</p>
                                </div>
                            </section>

                            <!-- FooterCard -->

                            <section class="footerCard">
                                <a href="#" class="link">Suscribete a Plan Free</a>
                            </section>
                        </div>

                    </article>
                    <article class="tarifaCard premium">
                        <section class="headingCard">
                            <div class="plan">
                                <p class="textPlan">Plan Premium</p>
                                <p class="text">Anual</p>
                            </div>
                            <div class="numbers">
                                <p class="price">$149.99</p>
                                <div class="bunchDolar">
                                    <img class="flag" alt="USA Flag" src="../../../img/usaBandera.svg">
                                    <p class="dolar">USD/año(Ahorra 2 meses)</p>
                                </div>
                            </div>
                            <div class="motivationText">
                                <p class="text">Tu mejor inversión</p>
                            </div>
                        </section>

                        <input type="checkbox" id="openContextPremium">
                        <label for="openContextPremium" class="open">
                            <img src="../img/iconoFlechaPlan.svg" alt="Icon arrow" class="arrow">
                        </label>

                        <div class="wrapped">
                            <label for="openContextPremium"></label>
                            <section class="bodyCard">
                                <div class="features">
                                    <img src="../../img/iconocheckVerde.svg" alt="Check" class="check">
                                    <p class="option">Acceso ilimitado a todas las funciones Premium</p>
                                </div>
                                <div class="features">
                                    <img src="../../img/iconocheckVerde.svg" alt="Check" class="check">
                                    <p class="option">Análisis avanzados y predicciones basadas en IA</p>
                                </div>
                                <div class="features">
                                    <img src="../../img/iconocheckVerde.svg" alt="Check" class="check">
                                    <p class="option">Estrategias automatizadas con backtesting</p>
                                </div>
                                <div class="features">
                                    <img src="../../img/iconocheckVerde.svg" alt="Check" class="check">
                                    <p class="option">Webinars y mentorías exclusivas con expertos del sector</p>
                                </div>
                                <div class="features">
                                    <img src="../../img/iconocheckVerde.svg" alt="Check" class="check">
                                    <p class="option">Descuento especial en futuras actualizaciones y nuevas funciones</p>
                                </div>
                                <div class="features">
                                    <img src="../../img/iconocheckVerde.svg" alt="Check" class="check">
                                    <p class="option">Soporte VIP con atención prioritaria</p>
                                </div>

                            </section>
                            <section class="footerCard">
                                <a href="#" class="link">Suscribete a Plan Premium</a>
                            </section>
                        </div>

                    </article>
                    <article class="tarifaCard">
                        <section class="headingCard">
                            <div class="plan">
                                <p class="textPlan">Plan Platinum</p>
                                <p class="text">Mensual</p>
                            </div>
                            <div class="numbers">
                                <p class="price">$14.99 </p>
                                <div class="bunchDolar">
                                    <img class="flag" alt="USA Flag" src="../img/usaBandera.svg">
                                    <p class="dolar">USD/mes</p>
                                </div>
                            </div>
                            <div class="motivationText">
                                <p class="text">Potencia tu estrategia</p>
                            </div>
                        </section>

                        <input type="checkbox" id="openContextPlatinum">
                        <label for="openContextPlatinum" class="open">
                            <img src="../img/iconoFlechaPlan.svg" alt="Icon arrow" class="arrow">
                        </label>

                        <div class="wrapped">
                            <label for="openContextPlatinum"></label>
                            <section class="bodyCard">
                                <div class="features">
                                    <img src="../img/iconocheckVerde.svg" alt="Check" class="check">
                                    <p class="option">Todas las funciones del Plan Free</p>
                                </div>
                                <div class="features">
                                    <img src="../img/iconocheckVerde.svg" alt="Check" class="check">
                                    <p class="option">Herramientas avanzadas de análisis y predicción</p>
                                </div>
                                <div class="features">
                                    <img src="../img/iconocheckVerde.svg" alt="Check" class="check">
                                    <p class="option">Simulación con estrategias de inversión automatizadas</p>
                                </div>
                                <div class="features">
                                    <img src="../img/iconocheckVerde.svg" alt="Check" class="check">
                                    <p class="option">Acceso exclusivo a contenido avanzado en la Academia QUO</p>
                                </div>
                                <div class="features">
                                    <img src="../img/iconocheckVerde.svg" alt="Check" class="check">
                                    <p class="option">Comparación de estrategias con traders destacados</p>
                                </div>
                                <div class="features">
                                    <img src="../img/iconocheckVerde.svg" alt="Check" class="check">
                                    <p class="option">Soporte prioritario</p>
                                </div>
                            </section>
                            <section class="footerCard">
                                <a href="#" class="link">Suscribete a Plan Platinum</a>

                            </section>
                        </div>


                    </article>
                </div>
            </div>

        </section>

    </main>

    <!-- Footer Container -->

    <footer class="containerFooter">
        <section class="socialNetworkIcons">
            <a href="https://web.telegram.org/k/" target="_blank" class="item">
                <img src="../img/iconosRedesSociales01.svg" alt="Icon Social" class="iconSocial">
            </a>
            <a href="https://redditinc.com/" target="_blank" class="item">
                <img src="../img/iconosRedesSociales02.svg" alt="Icon Social" class="iconSocial">
            </a>
            <a href="https://www.youtube.com/" target="_blank" class="item">
                <img src="../img/iconosRedesSociales04.svg" alt="Icon Social" class="iconSocial">
            </a>
            <a href="https://discord.com/" target="_blank" class="item">
                <img src="../img/iconosRedesSociales03.svg" alt="Icon Social" class="iconSocial">
            </a>
            <a href="https://www.instagram.com/" target="_blank" class="item">
                <img src="../img/iconosRedesSociales05.svg" alt="Icon Social" class="iconSocial">
            </a>
            <a href="https://x.com/"target="_blank" class="item">
                <img src="../img/iconosRedesSociales06.svg" alt="Icon Social" class="iconSocial">
            </a>
            <a href="https://www.linkedin.com/"target="_blank"  class="item">
                <img src="../img/iconosRedesSociales07.svg" alt="Icon Social" class="iconSocial">
            </a>
            <a href="https://www.facebook.com/" target="_blank" class="item">
                <img src="../img/iconosRedesSociales08.svg" alt="Icon Social" class="iconSocial">
            </a>
        </section>

    </footer>

    <!-- Javascript -->

    <script src="javascript/academy.js"></script>
    <script src="javascript/blog.js"></script>

</body>
</html>


