<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quo - SignOut</title>
    <!-- Favicon -->
    <link rel="icon" href="../img/isotipo.svg" sizes="16x16"/>
    <link rel="icon" href="../img/isotipo.svg" sizes="32x32"/>
    <link rel="icon" href="../img/isotipo.svg" sizes="64x64"/>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wdth,wght@0,75..100,100..700;1,75..100,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../src/application.css">
</head>
<body class="bodyProfile">

    <!-- Header -->

    <header class="headerProfile">
        <div class="headerCenter">
            <div class="leftSide">
                <a href="../index.html" class="imagotipo">
                    <img src="../img/isotipo.svg" alt="Isotipo" class="isotipo">
                    <img src="../img/logotipo.svg" alt="Icon Logotipo" class="logotipo">
                </a>
            </div>
        </div>
    </header>

    <!-- Loader -->

    <div id="loader">
        <div class="spinner"></div>
    </div>

    <!-- Main Farewell -->

    <main class="containerFarewell">

        <!-- Welcome Section -->

        <section class="farewellSection">
            <h2 class="titleSection">Gracias por usar y confiar en nosotros te esperamos nuevamente</h2>
            <img src="../img/ilustracionDespedida.webp" alt="Ilustration Farewell" class="ilustracion" loading="lazy">
            <a href="../index.html" class="goToIndex">Retornar al inicio</a>
        </section>

    </main>

    <!-- Footer Container -->

    <footer class="containerFooter">
        <section class="socialNetworkIcons">
            <a href="https://web.telegram.org/k/" target="_blank" class="item">
                <img src="../img/iconosRedesSociales01.svg" alt="Icon Social" class="iconSocial">
            </a>
            <a href="https://redditinc.com/" target="_blank" class="item">
                <img src="../img/iconosRedesSociales02.svg" alt="Icon Social" class="iconSocial">
            </a>
            <a href="https://www.youtube.com/" target="_blank" class="item">
                <img src="../img/iconosRedesSociales04.svg" alt="Icon Social" class="iconSocial">
            </a>
            <a href="https://discord.com/" target="_blank" class="item">
                <img src="../img/iconosRedesSociales03.svg" alt="Icon Social" class="iconSocial">
            </a>
            <a href="https://www.instagram.com/" target="_blank" class="item">
                <img src="../img/iconosRedesSociales05.svg" alt="Icon Social" class="iconSocial">
            </a>
            <a href="https://x.com/"target="_blank" class="item">
                <img src="../img/iconosRedesSociales06.svg" alt="Icon Social" class="iconSocial">
            </a>
            <a href="https://www.linkedin.com/"target="_blank"  class="item">
                <img src="../img/iconosRedesSociales07.svg" alt="Icon Social" class="iconSocial">
            </a>
            <a href="https://www.facebook.com/" target="_blank" class="item">
                <img src="../img/iconosRedesSociales08.svg" alt="Icon Social" class="iconSocial">
            </a>
        </section>

    </footer>

    <!-- Javascript -->

    <script src="../javascript/academy.js"></script>
    <script src="../javascript/blog.js"></script>
    <script src="../javascript/loader.js"></script>

</body>
</html>


