

:root{

    /* Color Palette*/

    --colorWhite:#ffffff;
    --colorBlack:#000000;

    /* Green Color Palette */

    --colorGreenToneFour:#00EF5D;

    /* Gray Color Palette */

    --colorGrayTwo:#CDCDCD;
    --colorGrayOne:#4E4E4E;

}
